:root {
    /* colors */
    --henry-gradient-start: #ffd260;
    --henry-gradient-end: #ff9b3a;
    --henry-shadow: #ff9060;

    --daisy-gradient-start: #d0f0c0;
    --daisy-gradient-end: #0e250f;
    --daisy-shadow: #2e7d32;

    --soft-purple-bg: #E6E6FA;
    --dark-purple-bg: #bfbfee;

    --notification-positive: #d0f0c0;
    --notification-negative: #ffb4b4;

    /* border */
    --daisy-border: 3px solid var(--dark-purple-bg);
    --container-border-radius: 8px;

    --accent: #8b5cf6;         /* purple */
    --accent-2: #a78bfa;       /* lighter purple */
    --accent-3: #c4b5fd;       /* light */
    --accent-4: #e1d7ff;
    --accent-5: #f9f5ff;

    --accent-3-contrast: #fffcd8;
}