{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ block "title" . }}Pet Everyone{{ end }}</title>
        <link rel="stylesheet" href="/app/variables.css">
        <link rel="stylesheet" href="/app/styles.css">
        <link rel="stylesheet" href="/app/pet-styles.css">
        <link rel="stylesheet" href="/app/chat.css">
    </head>

    <body>

    {{ template "header" . }}

    <main>
        {{ block "content" . }}{{ end }}
    </main>

    <script src="/app/app.js"></script>
    </body>
    </html>
{{ end }}
